# Use a copy of app.conf.template to create a valid application configuration named 'app.conf'
# and fill in the missing parameters.

bot {
    # Bot name is not used at the moment
    name = ""
    token = ""
}

# Telegram section is not used at the moment
telegram {
    group {
        id = 0
    }
}

db {
    credits {
        path = "credits.json"
    }
}